<manifest xmlns:android="http://schemas.android.com/apk/res/android">
<application>
<activity android:name="io.dcloud.uniplugin.activity.NativePageActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.activity.RedPacketSendActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.activity.RedPacketDetailActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.activity.MemberInfoActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.activity.GroupQrcodeActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.activity.RedPacketRecordsActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.memberpicker.MemberPickerActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
<activity android:name="io.dcloud.uniplugin.memberpicker.GroupMembersActivity"
    android:theme="@style/AppTheme.UniPlugin.NoActionBar"
    android:exported="false"></activity>
</application>
</manifest>
